.decimaTerceiraAula {
    padding: 50px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    h1 {
        margin-bottom: 20px;
      
    }
  
    button {
      padding: 0 10px;
      line-height: 2rem;
    }
  
  }